.idea/*
.idea
workspace.xml
.DS_Store
.name
AppDeployer.iml
encodings.xml
jsLibraryMappings.xml
jslint.xml
AppDeployer_node_modules.xml
misc.xml
modules.xml
scope_settings.xml
vcs.xml
watcherTasks.xml
